@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

/*****mobile****/
#wrap{
    width: 100%;
    height:auto;
background-image: url(../img/bgc.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:80%;
}
.main{
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid#000;
    position: relative;
    
}
.util{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    font-family: serif;
    font-style: italic;
}
.util li{
   margin-left: 15px;
   
}
.profile{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
  justify-content: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);


 
}
.name{
    font-size: 3rem;
    font-family: serif;
    font-weight: bold;
 
    background-image: url(../img/eclipse.svg);
    background-repeat: no-repeat;
    background-size: contain;
   
 
}
.eclipse{
    width: 150px;
    height: 150px;
}
.contents{
    width: 100%;
    height: 100%;
     


}
.abouttit{
    width: 150px;
    height: 30px;margin-top: 30px;
}
.abouttit img{
   width: 100%;
   height: 100%;
}
.contit{
 width: 120px;
 height: 30px;
margin:20px auto;

}
.contit img{
    width: 100%;
    height: 100%;
}

.contact{
    width: 100%;
    height: 100%;
   flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
text-align: center;
 
}
.name2{
    font-size: 1.6rem;
}
 .mail{
text-align: center;
 }
.skill{ width: 120px;
height: 30px;
margin:30px auto;
}
.skill img{
    width: 100%;
    height: 100%;
}

/****아이콘*******/
.skill_icon{
  
    width:80%;
    height:80%;
   
  margin: 0 auto;
 

    
}
.skill_icon .icon{
    width:31%;
    height:31%;
 
   margin: 10px;
         
  
      
}

.skill_icon .icon img{

    
  width: 80%;
  height: 80%;

 
}
.skill_icon .icon1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.skill_icon .icon2 {
    width:100%; 
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
    
    justify-content: center;
    
   
}

.education{
    width: 130px;
    height: 40px;
    margin:30px auto;
   
}
.education img{
width: 100%;
height: 100%;
   
}
.education_p{
    text-align: center;
    font-size: 1rem;
 line-height: 40px;
    font-weight: bold;

}
.cerificate{
    width: 110px;
    height: 25px;
    margin:30px auto;
  
}
.cerificate_p p{
    text-align: center;
    font-size: 1rem;

    font-weight: bold;
  
    
    

}
.border{
    border-bottom: 1px solid#000;
    margin-top: 30px;
}
.pf{

    margin-top: 30px;
     width: 200px;
     height: 50px;

   
}

.pf img{
    width: 100%;
    height: 100%;
}
.pf_contents{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nike{
    width: 100%;
    height: 100%;
}
.niketit{
    width: 100px;
    height: 20px;
   margin: 0 auto;

}
.po {
    width:45vw;
    height: 18vh;
    border-radius: 15px;
    overflow: hidden;

    margin: 20px auto;
    
  
}


.po img{
    object-fit: cover;
}
.po:hover{
    box-shadow: 5px 5px 10px black;
    transform: scale(1.5);
}
.potxt{
    text-align: center;
    font-size: 1rem;
   
   font-weight: bold;
    
}
.pf_2{object-fit: cover;
overflow: hidden;}
.pf_2 a{
    width: 100%;
    height: 100%;
    
}
.pf_2 img{
    width: 100%;
    height: 100%;
  
}
/***********/
.jw{
    width: 100%;
    height: 100%;
}
.jwtit {
    width: 130px;
    height: 30px;
   margin: 10px auto;

}
.lvtit {
    width: 120px;
    height: 30px;
    margin: 10px auto;

}
.blendertit{
    width: 100px;
    height: 30px;
    margin: 10px auto;

}
.blendertit img{
    width: 100%;
    height: 100%;
}
.border2{
    border-bottom: 1px solid#000;
}

.finish{
    width: 300px;
    height: 60px;
    margin-top: 150px;
    margin-right: 0;
    
}
.finish img{
    width: 110%;
    height: 100%;
}


/***************tablet******************/
@media all and (min-width:768px){


    .main{
        width: 100%;
        height: 500px;
        border-bottom: 1px solid#000;
        
    }
    .util{
        font-size: 1.5em;
    }
    .profile{
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
      justify-content: center;
       
    
     
    }
    .name{
        font-size: 4rem;
        font-family: serif;
        font-weight: bold;
     
        background-image: url(../img/eclipse.svg);
        background-repeat: no-repeat;
        background-size: contain;
       
     
    }
    .eclipse{
        width: 200px;
        height: 200px;
    }
    .contents{
        width: 100%;
        height: 100%;
         
    
    }    
    .abouttit{
        width:270px;
        height: 50px;margin-top: 40px;
    }
    .abouttit img{
        width: 100%;
        height: 100%;
    
      
     }
    .contit{
        width: 200px;
        height: 40px;
       margin:30px auto;
       
       }
       .contit img{
           width: 100%;
           height: 100%;
       }
       .contact{
        width: 100%;
        height: 100%;
       flex-direction: column;
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
    text-align: center;
     
    }
    .name2{
        font-size: 2rem;
    }
    .skill{ width: 150px;
        height: 50px;
       margin:50px auto;
        }
        .sksection{
            margin: 0 auto;
        }
        .skill_icon{
            display: flex;
            width:80%;
            height:80%;
            flex-wrap: wrap;
           
        }
          .skill_icon .icon{
            width:13%;
            height:13%;
            
            
          }
          .skill_icon .icon img{

    
        width: 100%;
        height: 100%;
           
          }
          .skill_icon .icon1{
            justify-content: center;
          }
          .skill_icon .icon12{
            justify-content: center;
          }
   
  
       
       
        .education{
            width: 150px;
            height: 50px;
           margin:30px auto;
           
        }
        .po {
            width:35vw;
            height: 21vh;
            border-radius: 15px;
            overflow: hidden;
        
            margin: 20px auto;
   
        }
        .po img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }





    }



        /************pc**********/
        @media all and (min-width:1200px){
            #wrap{
                width: 100%;
                height: 100%;
                background-image: url(../img/bgc.jpg);
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;
                opacity:80%;
            }
            
            .main{
                width: 100%;
                height: 950px;
                border-bottom: 1px solid#000;
                position: relative;
                
            }
            .util{
                font-size: 2em;
            }
            .profile{
               
                width: 100%;
                height: 650px;
                display: flex;
               position: absolute;
               top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                            
            }
            .name{
                font-size: 8rem;
                font-family: serif;
                font-weight:bold;
             
                background-image: url(../img/eclipse.svg);
                background-repeat: no-repeat;
                background-size: contain;
               
             
            }
            .eclipse{
                width: 350px;
                height: 350px;
            }
            .contents{
                width: 100%;
                height: 750px;
                position: relative;
            }
            .abouttit{
                width: 50vw;
                height: 50px;
                margin: 20px auto;
            }
        
            .abouttit img{
                width: 100%;
                height: 100%;
             }
             .aboutsection{
                width: 100%;
                height: 950px;
                display: flex;
                margin: 100px auto;
              
            }
            .cs{
                width: 50%;
                height: 100%;
                
            }
            .ec{
                width: 50%;
                height: 100%;
            }
            .skill{
                width: 200px;
                height: 40px;
            }
            .skill img{
                width: 100%;
                height: 100%;
            }
            .skill_icon{
                width: 45%;
                height: 45%;
                display: flex;
            }
      
            .skill_icon img{
                width: 100%;
                height: 100%;
            }

            .skill_icon .icon1{
                justify-content: center;
            }
            .skill_icon .icon2{
                justify-content: center;
            }
            .pf_contents{
                display: flex;
                flex-wrap: wrap;
            }
            .pf_1{
                width: 50%;
                height: 100%;
                margin-top: 20px;
            }
            .pf_2{
                width: 50%;
                height: 100%;
            }
            .jwtit{
                width: 230px;
                height: 30px;
            }

            .po {
                width:30vw;
                height: 27vh;
                border-radius: 15px;
                overflow: hidden;
            
                margin: 20px auto;
            
              
            }
            .po img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .finish{
                width: 500px;
                height: 70px;
                margin-top: 150px;
                margin-right: 0;
                
            }
            .finish img{
                width: 100%;
                height: 100%;
            }







    }



















/*태블릿 끝*/
