
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  body {

    background-color:rgb(236, 204, 168);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  
  }
  h1{
    text-align: center;
    font-size:3rem;
    font-weight: bold;
    padding-top: 20px;}
  @media all and (min-width:1200px){
    h1{
      text-align: center;
      font-size: 7rem;
      font-weight: bold;
      padding-top: 50px;}

  }