@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
   
}
a{
    text-decoration: none;
    color: inherit;
}





/*******mobile********/

.hwrap{
    width: 100%;
 height: 50px;
    position: fixed; top:0;left: 0;
    background-color: #fff;
    z-index: 999;    
}
header{
    width: 100%;
    height: 100%;
    
    /* opacity: 0.7; */
   
}
header h1{width: 20%; height: auto;
  position: absolute;
  left: 3%;
  top: 3%;
}
header h1 img{
    width: 100px;
    height: 40px;
   
    background: transparent;
    
   
}
.all_button{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background: transparent;
    z-index: 900;
   
}
/****/
.hwrap .util{
    display: none;
   
}
.util li {
    margin-left: 10px;
    font-size: 11px;
 
    
}
.util li::after{
    content: '|';
    margin-left: 10px;
    color: #ccc;
    
}
.util li:last-child::after{
    content: '';
} 
header .gnb{
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 20%;
    left: 50%;
    display: none;
    transform: translateX(-50%);
   
    
    text-align: left;
 
}
header .gnb>li{
    text-align: center;
    background-color: #ccc;
    color: #000;
    font-size: 16px;
    

    
}
header .gnb>li>a{
 display: block;
 width: 100%;
 /* padding: 20px; */
  border-bottom: 1px solid#ddd;
  font-size: 16px;
  box-sizing: border-box;
}
.sub{
  display: none ;
 /* height: 0;
 overflow: hidden; */
}
.gnb>li.on .sub{
  /* height: 300px; */
  display: block;
}
#wrap{
  width: 100%;
  height: 100vh; 
  background-image: url(../img/laboratory-2815641_1280.jpg);
   background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  
}
#wrap h2{
    position: absolute;
    top: 25%;
    right:15%;
    font-size: 30px;
    z-index: 10;
    color: #fff;

}


.history{
    width: 100%;
    height: auto;
    position: relative; 
    top:20px;left: 50%;
    transform:translateX(-50%);
      overflow: hidden;  
      padding-bottom: 5%; 
  
}
.rd{
  width: 100%;
  height:auto;
 
}
.rd_tit { 
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    color: #00b4e4;
    line-height: 1.5;

}
.rd h3{text-align: center;
  font-size: 14px;
  font-weight: 700;
  
}

.rd_txt{    
    width: 100%;
    height:auto;   
    font-size: 14px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;  
    
}
.rd_txt p{
    font-weight: bold;
    font-size: 14px;
}
.txt h3{font-size: 18px;}
.txt{ margin-bottom: 5%;}
.txt_txt1{margin-top: 5%;}
.txt img{border-radius: 30px;
  box-shadow: 10px 5px 30px #635f5f;
}

.product{
    background-image: url(../img/pills-6826554_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height:100vh;
    background-position: center ;
 
    position: relative;
    
  
  
  }


  .swiper {
    width: 100vw;
    min-width: 356px;
    height: 50%;
    position: absolute;
    top: 20%;
    right: 0;

   overflow: hidden;
   margin: 0;

  }

  .swiper-slide {
    text-align: center;
    font-size: 1em;
    background: rgba(255,255,255,0.5);
  /* display: flex;
    justify-content: center;
    align-items: center; */
    

  }


  .swiper-slide img {
    display: block;
    width:50%;
    height: 50%;
    margin-left: auto;margin-right: auto;
    object-fit: cover;
  }

.product>h2{
  text-align: center;
  font-size: 3rem;
  padding:20px;
  color: #00b4e4;

}
.product>p{
  text-align:center;
  font-size: 1.5rem;
  color: #000;
}

.idrop h2{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.idrop>.pbox>p{
  font-weight: bold;

}
.mall{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 100px;
    bottom: 20px;
    text-align: center;
  }
  .mall img{ width: 60px;
    height: 60px;}
  .mall h4{
    font-size: 11px;
 }

 .parm{
     width: 60px;
    height: 60px;
    position: absolute;
    right: 20px;
    bottom: 20px;
   
    text-align: center;
 }
 .parm img{
    width: 60px;
    height: 60px;
 }
 .parm h4{
      font-size: 11px;
 }
  .button-prev{
    display: none;
  }
  .notice{ 
   
   
    margin-top: 70px;
    
   
  }
  .notice>h2{
    text-align: center;
    font-size: 40px;
    color: #00b4e4;

  }


  .container{
    /* background-color: #635f5f; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    line-height: 350px;
    text-align: center;
    color: #000;
  }
  .container>div{
    width: 30%;
    height: auto;
  }
.company{
   
   
    background-image: url(../img/COMPANY.svg);
    background-repeat: no-repeat;
    background-size:contain;

}
.vision{
    
    
    background-image: url(../img/VISION.svg);
    background-repeat: no-repeat;
    background-size:contain;


}
.location{
    
    
    background-image: url(../img/LOCATION.svg);
    background-repeat: no-repeat;
    background-size:contain;
}




.news{
    width: 100%;
    height: auto;
    margin-top: 50px;
    font-size: 1.5rem;
   
}
.news h1{
    text-align: center;
    margin-bottom: 20px;
    color: #00b4e4;

}

.news p{
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}




.stock{
    width: 100%;
    height: 150px;
    background-color: #00b4e4;
    margin-top: 50px;
    position: relative;
    display: flex;

}
.stock .sttxt h1{
    font-size: 35px;
    line-height: 150px;
    margin-left: 10px;
    color: #000;
}
.lastprice{
  position: absolute;
  top: 20%;
  left: 30%;
  color: #fff;
}
.lastprice h3{
    font-size: 20px;
}
.lastprice p{
    font-size: 30px;
    font-weight: bold;
}
.lastprice h5{
    font-size: 20;
    color: #fff;
}
.date{

    position: absolute;
    top: 20%;
    right: 5%;
    color: #fff;
}
.date>h3{
    font-size: 18px;
}
.date p{
    font-size: 30px;
    text-align: center;
    background-image: url(../img/tri.svg);
    background-repeat: no-repeat;
    background-position: left center;
   
}

.mail{
  font-size: 12px;
    color: #fff;
    margin-top: 20px;
}
.mark{
  position: absolute;
  top: 30%;
  right: 0;
}

/*****tablet******/
@media all and (min-width:768px){


.hwrap{
    width: 100%;
    height: 70px;   
    
}
header h1{width: 20%; height: auto;
  top: 28%;
}

 .hwrap .util{
        position: absolute;
        right: 20px;
        top: 5px;
        color: #000;   
        display: block;  
          
    }
    .util li{float: left;}

    .util li::after{
        content: '|';
        margin-left: 10px;
        color: #661111;
    }  
header .gnb{  
        width: 80%;
        height: auto;
        top: 60%;
        left: 55%;
        transform: translateX(-50%);  
        color: #000; 
        display: flex; 
        text-align: center;
    }
header .gnb>li{   background-color: transparent;  
   }

header .gnb>li>a{
width: 120px;
font-size: 13px;
text-align: center;
border-bottom:0;

}
.gnb>li.on .sub{ 
  background-color: #00b4e4;
  display: none;
} 
.gnb>li>.sub{
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  opacity: 0.7;
  margin-top: 10px;
}
  header .gnb li:hover{    
        color: #0a34aa;
        display: block;        
    }
  .util{
    display: none;
  }
  .all_button{
    display: none;}

  #wrap{  
      background-image: url(../img/laboratory-2815641_1280.jpg);
  
  }
   #wrap h2{
        position: absolute;
        top: 45%;
        right: 0;
        font-size:3rem;
    
    }
  
    .rd_tit {
        position: absolute;
        left: 0;
        top: 400px;
        transform: rotate(-90deg);
  
        text-align: right;
        font-size: 200px;
        font-weight: 900;
        color: #00b4e4;
    
    }

 .rd_txt{
    
    width: 100%;
    height: auto;
    display: flex;
   margin-left: 0;

  
  
 }
 .rd_txt img{
  border-radius: 20px;
  box-shadow:10px 5px 5px #635f5f;
 }
 .rd_tit>p{
   position: absolute;
   left:300px;
   font-size: 150px;

 }
 .rd h3{
    position: absolute;
    right: 180px;
    top: 100px;
    font-size: 30px;
    color: #00b4e4;
 }
 .txt_txt1{
    margin-left: 20px;
 }
 .txt_txt1 img{
    width: 250px;
    height: 300px;
    
 }
 .txt_txt2{
    margin-top: 250px;
    margin-left: 30px;
    

 }
 .txt_txt2 img{width: 200px;
            height: 200px;}
 .txt_txt3{
    margin-top: 350px;
 }
 .txt_txt4{
    margin-top: 500px;
    margin-right: 20px;
    margin-left: 20px;
 }
.product{
    position: relative;
}
.product h2{
   position: absolute;
   top: 50px;
   left: 40px;
   font-size: 7rem;
  
}
.product>p{
    position: absolute;
    top: 150px;
    left: 40px;
    font-size:2rem;
    color: #000;
}
.swiper{
    position: absolute;
    left: 20%;
    bottom: 10%;

    margin-left: auto;
        margin-right: auto;
  }
.swiper-slide .idrop{
    margin-right: 0px;
    /* margin-top: 50%; */

}
.swiper-slide .pbox{
    text-align: center;
  }
  .mall{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 130px;
    bottom: 0;
    text-align: center;
   
  }

  .mall h4{
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    left: 5px;
 }
  .parm{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 20px;
    bottom: 0;
    
    text-align: center;
 }
 .parm h4{
    font-size: 14px;
    position: absolute;
    bottom: 15px;
 }
 




  .notice{
    width: 100%;
    height: 100%;
   
}
.container>div{
    width: 30%;
    height: auto;
    margin-left: 100px;
   margin: 0 auto;
  }
  .container>div>p{
   text-align: center;
  
   width: 100%;
   height: 100%;

}
.notice>h2{
    /* margin-bottom: 30px; */
    font-size: 7rem;
}

.notice  .container{
    padding-bottom: 10px;
    background-position: center;
    width: 80%;
    margin: 0 auto;
    
    }
    .comunity{
      width: 100%;
      height: 100%;
      display: flex;
      margin-top: 30px;
    }
    .stock{
      width: 40%;
      height: 250px;

    }
    .sttxt h1{
      width: 40%;
      height: 250px;
       margin-top: 40px;
       font-size: 3rem;
      
    }
    .lastprice{
      margin-top: 30px;
      margin-left: 35px;

    }
    .date{
      margin-top: 30px;
    }
    .news{
      width: 60%;
    }


    /* .news{
        width:70%;
        margin: 0 auto;
        
    }
 
  
    

    .news h1{
        margin-top: 20px;
    }
    .stock{
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .stock .sttxt h1{
      margin-left: 70px;
      font-size:40px;
    }

 .lastprice h3{
    margin-left: 80px;
    font-size: 30px;
    
 }
 .lastprice p{
    margin-left: 80px;
    
 }
 .lastprice h5{
    margin-left: 80px;
    font-size: 20px;
    
 }
 .date h3{
    margin-right: 10px;
    margin-top: 20px;
 }
 .date p{
    margin-right: 10px;
 } */


 






  }/*tabletë*/






  /********************pc**************************/



 @media all and (min-width:1200px){
/* .mySwiper{
    position: absolute;
    left: 50px;
    bottom: 50px;
    background-color: #fff;
  } */

  #wrap{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    
  }
  /* #wrap::after{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
} */
  #wrap h2{
    font-size: 5rem;
    position: absolute;
    right: 10%;
    top: 50%;
    
  }
 .hwrap{
    width: 100%;
   /* margin: 5px; */
   z-index:12;
   
  }
  header .gnb{bottom: 20px;
  justify-content: space-between;}
 

header .gnb>li{
/* margin-left: 100px; */
background-color: transparent;
padding-left: 0;

}
header .gnb>li>a{
    width: 150px;
   text-align: center;
    font-size: 18px;

     border: bottom 0;

}
.gnb>li>.sub{
  top: 40px;
  left: -20px;
  width: 100%;
  height: 200px;
  background-color: #ccc;
  text-align: center;
  display: none;
}
header .gnb .sub li{
bottom: 0;
 margin-left: 0px;
 margin-bottom: 10px;
 font-size: 16px;
 text-align: center;
 align-items: center;
 display: flex;
 cursor: pointer;
 
 height: 20px;

}
.gnb>li.on .sub{ 
  background-color: #00b4e4;
  display: none;
} 

header .gnb .sub>li:hover{
  color: #0a34aa;
}


header .gnb>li>a:hover{
    color: #0a34aa;

    
    
}

header .gnb li:last-child{
    margin-right:0;
}
  .rd{height: 100vh;
   }
  .history{
    width: 100%;
    height: 100vh;
  
 
  }
  .rd_tit { 
    transform: rotate(-90deg);
      font-size: 400px;
    font-weight: 900;
    color: #00b4e4;
     position: absolute;
    left: 0;
    top: 200px; 
   
  }

  .rd h3{
    font-size: 40px;
    position: absolute;
    right: 350px;
    top: 50px;
    color: #00b4e4;

  }
  .rd_txt{    
    width: 100%;
    height: auto;
    display: flex;
   margin-top: 100px;

    box-sizing: border-box;
   

  
 }

 .rd_txt h3{
    font-size: 25px;
  
 }
 .rd_txt>p{
    font-size: 25px;
 }
 .txt_txt1{
    margin-right: 50px;
    position: relative;
 }
 .txt_txt1 img{
    width: 250px;
    height: 300px;
    margin-top: 10px;
    
  

 }
 .txt_txt2{
    margin-left: 20px;
 }
 .txt_txt2 img{
    width: 200px;
    height: 250px;
    margin-top: 30px;
 

 }
 .txt_txt2>h3{
   margin-top: 10px;
 }
 .txt_txt3{
    margin-left: 20px;
   margin-bottom: 50px;

 }
 .txt_txt3 img{
    width: 200px;
    height: 250px;
    margin-top: 30px;
    

 }
 .txt_txt4{
    margin-left:50px;
 }
 .txt_txt4 img{
    width: 200px;
    height: 250px;
    margin-top: 30px;
    

 }
 
 
  .product{
    position: relative;
    display: flex;
   
  }
  .product h2{
 position: absolute;
 left: 100px;
 top: 180px;
 font-size: 7rem;
  }
  .product>p{
    position: absolute;
    top: 330px;
    left: 100px;
    font-size: 35px;
    color: #000;

  }
  .swiper {
    width: 50%;
    height: 45%;
    position: absolute;
    top: 40%;
  }


  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
 
  }

  .swiper-slide .pbox{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    font-weight: bold;
 
  }
  .swiper-slide img {
    display: block;
    width:50%;
    height: 50%;
    /* margin-left: auto;margin-right: auto; */
    object-fit: cover;
  }

  .rutain{
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  .rutain img{
    object-fit: contain;
  }
.idrop{
    display: flex;
    width: 100%;
    height: 100vh;
}
.porm{
    display: flex;
    width: 100%;
    height: 100vh;
}
.porm img{
    object-fit: contain;
}
.mall{
    width: 120px;
    height: 120px;
    position: absolute;
    bottom:-20px;
    right: 150px;
    text-align: center;
    
}
.mall img{
    position: absolute;
    right: 45px;
    bottom: 60px;
}
.mall h4{
 position: absolute;
 bottom: 30px;
}
.parm{
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 0;
    right: 20px;
    text-align: center;
   
}
.parm img{
    position: absolute;
    right: 45px;
    bottom: 40px;
}

.parm>h4{
 line-height: 120px;
    
}



.notice{
    width: 100%;
    height: 100%;
}
.notice h2{
    /* margin-bottom: 30px; */
    font-size: 7rem;
}

.notice  .container{
    padding-bottom: 10px;
    background-position: center;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    
    
    }
  
    .container>div{
        width: 25%;
        height: auto;
        background-position: center;
      }
    .notice  .container p{
        /* margin-right:80px; */
        text-align: center;
        margin-bottom: 0;
        font-size: 17px;
        padding-top: 10px;
        box-sizing: border-box;
      }
      .comunity{
        width: 100%;
        height: 100%;

      }
      .stock .sttxt h1{
        font-size: 4rem;

      }
      .lastprice{
        margin-left: 90px;
      }


/* 
      .stock{
        width: 70%;
        margin: 40px auto;

      }
      .stock .sttxt{
        margin-left: 30px;
        width: 100%;

      }
      .sttxt h1{
        font-size:50px;
      }
   .lastprice{
      text-align: center;
      margin-left: 70px;
   }
   .date{
      margin-right: 30px;
   }


.news{
    
    width:60%;
    height: auto;
 
  
    
}
.news h1{
  font-size: 50px;
    margin-right: 85px;
} */
     






 }









  



  



























    



































