@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
/*************mobile***************/

header{
    width: 100%;
    height: 70px;

}

.hwrap{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.hwrap .logo{
    width:90px;
    height: 70px;
    position: absolute;
    left: 5%;
    top:2%;
}
.hwrap .logo img{
    width:90px;
    height: 70px;
   
}
.hwrap .allbutton{
    width: 50px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 25px;

}
.hwrap .allbutton span{
    background-color: black;
    display: block;
    width: 50px;
    height: 3px;
    margin-bottom: 5px;
   
  
    
}
.gnb{
    display: none;
}
.wrap{
    width: 100%;
    height: 100;


}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
 
    position: relative;
}
.text{

    
    width: 40vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    box-sizing: border-box;


    font-weight: bold;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}
.view{
    width: 120px;
    height:50px;
    background-color: #000;
    border-radius: 30px;
    margin-top: 20px;
 
   
}
.red{
    color: #fff;
}
.view a{
    font-size: 16px;
    width: 120px;
    height:50px;
   line-height: 50px;
    margin-left: 20px;
}
.white{
    width: 120px;
    height:50px;
    background-color: #eee8cc;
    border-radius: 30px;
    margin-top: 20px;
    display: none;
   
   
}
.white>a{
    color: #000;
}
.cimg{
  width: 60vw;
  height: 45vh;
  background-color: transparent;
}
.cimg img{
    width: 90%;
    height: 100%;
   
}
.img2{
    display: none;
}
.content{
    width: 100%;
    height: 100%;
    background-image: url(../img/ddddredbgc.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right top;
   
 

    
}
.redshoes{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
 padding: 5%;
 box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  font-family: "Inter", sans-serif;
   

}
.redshoes>img{
    width: 50%;
    height:70%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
}

.blueshoes{
  
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;

    font-weight: bold;
    font-size: 16px;
    font-family: "Inter", sans-serif;

}

.blueshoes>img{
    width: 50%;
    height: 100%;
    border-radius: 15px;
 
    background-color: rgba(0, 0, 0, 0.6);
   

}
/*******************pc*********************/
@media all and (min-width:1200px){

header{
    width: 100%;
    height: 100px;
    position: relative;
   
}
.hwrap{
    width: 100%;
    height: 100%;
  
}
.hwrap .logo{
    top: 20px;
}
.allbutton{
    display: none;
}
.gnb{
    display: flex;
     width: 400px;
     height:20px;
     position: absolute;
     left:40%;
     top: 50%;

     
    
     
    }
    .hwrap .gnb li{
     
      margin-left:40px;
      font-size: 20px;
      font-weight:bold;
     }
     .wrap{
        width: 100%;
        height:100vh;
       
        display: flex;
        background-image: url(../img/PC\ BGC.jpg);
        background-repeat: no-repeat;
        background-size: cover; 
         background-position: left top;
     }
.main{
    width: 80%;
    height: 100%;
    flex-direction: row;

   
}
.view {
    width: 120px;
    height:50px;
    background-color: #000;
    border-radius: 30px;
    margin-top: 20px;
 
 
   
}
.red{
    color: #fff;
}
.white{
    width: 120px;
    height:50px;
    background-color: #eee8cc;
    border-radius: 30px;
    margin-top: 20px;
    display: none;
   
   
}
.white>a{
    color: #000;
}



.cimg{
    width: 60vw;
    height: 90vh;
}
.cimg .img2{

    
}

.content{
 width: 20%;
 height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
 background-image: none;
 
}
.content p{
 display: none;
}
 .redshoes{
   width: 80%;
   height: 30vh;
   border-radius: 15px;
   padding: 0;
   flex-direction: column;
   justify-content: center;



   
}
.redshoes>img{width: 100%;
    height: 30vh;
}
 .blueshoes{
    width:  80%;
    height: 30vh;
    border-radius: 15px;
    padding: 0;
    margin-top: 30px;

 
}
 .blueshoes>img{
    width: 100%;
    height: 30vh;
}
.content>div.on{
    box-shadow: 5px 5px 6px rgba(0, 0, 0,0.5);
}

















}/***pc 끝***/