@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{text-decoration: none;
color: inherit;}
/*header*/
header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 900;
}
header .hwrap{
    width:1200px;
    height: 100px;
    background-color: brown;
    margin: 0 auto;
    
    justify-content: space-between;
    position: relative;
}

header .logo{
    
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50% , -50%);
}
header .logo img{
    width: 400px;
    height: 50px;
    text-align: center;
    
}
header .util ul{
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 16px;
    display: flex;
    font-weight: bold;
  }
header .util ul li{
    margin-left: 10px;
}
header .util li::after{
    content: "|";
    margin-left: 10px;
}
header .util li:last-child::after{
    content: "";
}
header .box{
    width: 500px;height: 450px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100px;
    display: none;
    font-size: 20px;
}
header .box ul{
    display: flex;
}

header .box li{
     margin-top: 20px;
     margin-left: 20px;
}
header .subutil ul{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    position: absolute;
    right: 0;
    top: 5px;
    padding-top: 0;
   

}
header .subutil ul li{
    margin-right: 10px;
}
header .subutil ul a>li::after{
    content: "|";
    margin-left: 10px;
}
header .subutil ul li:last-child::after{
    content: "";
}
/*main*/
.main{
    width: 100%;
        
     
}
.main img{
    width: 100%;
}
.container{
    width: 100%;
    height: 100%;
    
    margin-top: 70px;
    margin-bottom: 50px;
}
.container h2{
    text-align: center;
    margin-bottom: 30px;font-size: 50px;
    font-weight: bold;
}
.conbox {
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.conbox p{
    font-weight: bold;
}
.container .box {
    width: 250px;
    height: 400px;
    
    

}
.container .box img{
    border-radius: 30px;
}
.container .box img:hover{
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(1.03);
    border-radius: 30px;
}
/*banner*/
.banner{
    width: 100%;
    height: 600px;
 

}
.mancon{
    width: 100%;
    height: 100%;
    display: flex;
   justify-content: center;
   margin-top: 40px;
}
.mancon img{
    border-radius: 30px;
}
.mancon p{
    text-align: center;
}
.con1{
    margin-top: 50px;
}
.banner h2{
    text-align: center;
    font-size: 50px;
}
.banner p{
    font-weight: bold;
}

.con2{
    margin-left: 20px;
    justify-content: center;
}
.gift{
    width: 100%;
    height: 100%;
    
   
}
.gift h2{
    font-size: 70px;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}
.gift .col{
    width: 1200px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 100px;
}
.gift .col li{
   
    width: 450px;
    height: 300px;
    margin-top: 80px;
  
}
.gift .col li img{
    width: 100%;
    height: 100%;
    border-radius: 30px;

}
.fcontent{
    width: 100%;
    height:100%;
   display: flex;
    justify-content: center;
  
  
    
}

 h1{
   text-align: center;
   font-size: 50px;

}.fcontent p{
    text-align: center;
    font-weight: bold;
}
.po img{
    margin-left: 60px;
}
.fcontent ul {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content:center;
    margin-top: 30px;

}
.fcontent ul li a:hover img{
    border-radius: 30px;
    margin-top: 50px;
    box-shadow: 5px 5px 20px black;
    transform: scale(1.03);
}
.fcontent ul li {
    margin-right: 30px;
    
}
.fcontent ul li img{
    border-radius: 30px;
}
.fcontent ul li:first-child{
    margin-top: 100px;
}