
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  body {

    background-color:rgb(236, 181, 181);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  
  }
  h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;}
    /*loadingbar*/

/* #progress-bar-container{
  display: flex;
  flex-direction: column;축방향을 열로
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
 color: plum;
  font-size: 2rem;
background-color: #000;
} */
/*바 크기 키우기*/
/* #progress-bar{
  width: 40%;
  height: 3%;
  margin-top: 6px;
  font-size: 30px;
} */

  @media all and (min-width:1200px){
    h1{
      text-align: center;
      font-size: 6rem;
      padding-top: 50px;}

  }